*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body,
html, ul {
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}

body {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

/*HEADER*/
header {
    box-shadow: 0px 2px 2px rgb(224, 224, 224);
    background-color: rgba(255, 154, 213, 0.644);
}

.titulo-logo h1 {
    font-size: 45px;
}

.titulo-logo{
    display: flex;
}

.titulo-logo img{
    height: 100px;
    margin: 10px 15px 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 0 85px;
    align-items: center;
}

nav ul {
    display: flex;
    padding: 0;
}

nav li {
    list-style: none;
    display: inline;
    padding: 0px 12px;
    transition: transform 0.4s ease;
    border-radius: 5px;
}

nav li:hover {
    transform: scale(1.1);
    border-bottom: rgb(255, 146, 186) 2px solid;
}

nav a {
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
}


/*MAIN*/
.margin-left {
    margin-left: 85px;
}

.containerServicos ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.containerServicos li{
    padding: auto auto;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 5px grey;
    border-radius: 10px;
    width: 20%; 
    padding: 170px 0;
    box-sizing: border-box;
    text-align: center;
}


/*FOOTER*/
footer {
    background: rgba(155, 94, 130, 0.644);
    color: white;
    text-align: center;
    padding: 65px 0;
    margin-top: 30px;
}