body, html, nav, nav ul{
    margin: 0;
    padding: 0;
}

.espaçamento-lateral{
    width: 940px;
    margin: 0px auto;
}

header{
    display: flex;
}

nav{
    vertical-align: middle;
}

nav li{
    list-style: none;
    display: inline;
}

nav a{
    color: black;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
}

form{
    margin: 40px 0px;
}


form label,form p{
    display: block;
    font-size: 20px;
    margin: 0 0 10px 0;
    
    
}


.input-padrão{
    display: block;
    margin: 0 0 10px 0;
    padding: 10px 25px;
    font-size: 20px;
    width: 50%;
                                                                                                              
}


.agendar{
    margin: 0 0 10px 0;
    padding: 10px 25px;
    width: 50%;
    font-size: 20px;
    text-align: center;
}
