body, html{
    margin: 0;
    padding: 0;
}

/*HEADER*/
header{
    box-shadow: 0px 2px 2px rgb(224, 224, 224);
}

nav{
    display: flex;
    justify-content: space-between;
    margin: 0 85px;
    align-items: center;
}

nav ul{
    display: flex;
    padding: 0;
}

nav li{
    list-style: none;
    display: inline;
    padding: 0px 12px;
}

nav a{
    color: black;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
}


/*MAIN*/
main{
    width: 940px;
    margin: 0px auto;
}


.agendar{
    margin: 0 0 10px 0;
    padding: 10px 25px;
    width: 50%;
    font-size: 20px;
    text-align: center;
}


form{
    margin: 40px 0px;
}


form label,form p{
    display: block;
    font-size: 20px;
    margin: 0 0 10px 0;
    
    
}


.input-padrão{
    display: block;
    margin: 0 0 10px 0;
    padding: 10px 25px;
    font-size: 20px;
    width: 50%;
                                                                                                              
}

